<div class="wrapper">
    <div class="main">
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="card card-user">
                        <div class="image" style="width:263; height:150; background-color:#d8d1c9 ">

                        </div>
                        <div class="content">
                            <div class="author">
                                <a href="#">
                                    <img class="avatar border-white" src="/assets/img/placeholder.jpg" alt="..." />

                                    <h4 class="title">Cristina Conacel
                                    </h4>
                                </a>
                            </div>
                            <p class="description text-center">
                                I am the creator of this kit. Contact me for any questions.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <button href="#" class="btn btn-icon btn-twitter"><i class="ti-twitter"></i></button>
                            <button href="#" class="btn btn-icon btn-github"><i class="ti-github"></i></button>
                            <button href="#" class="btn btn-icon"><i class="ti-email"></i></button>
                        </div>

                    </div>
                    <!-- end card -->

                </div>
            </div>
        </div>

        <div class="col-md-7">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>Portfolio</h5>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <th>stock</th>
                                <th>units</th>
                                <th>avg buying price</th>
                                <th>purchase value</th>
                                <th>Current Value</th>
                                <th>profit/loss</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>ACCS</td>
                                    <td>100</td>
                                    <td>10.0</td>
                                    <td>1000</td>
                                    <td>1500</td>
                                    <td>500</td>
                                </tr>
                                <tr>
                                    <td>ACCS</td>
                                    <td>100</td>
                                    <td>10.0</td>
                                    <td>1000</td>
                                    <td>1500</td>
                                    <td>500</td>
                                </tr>
                                <tr>
                                    <td>ACCS</td>
                                    <td>100</td>
                                    <td>10.0</td>
                                    <td>1000</td>
                                    <td>1500</td>
                                    <td>500</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>Transaction History</h5>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <th>stock</th>
                                <th>units</th>
                                <th>avg buying price</th>
                                <th>purchase value</th>
                                <th>Current Value</th>
                                <th>profit/loss</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>ACCS</td>
                                    <td>100</td>
                                    <td>10.0</td>
                                    <td>1000</td>
                                    <td>1500</td>
                                    <td>500</td>
                                </tr>
                                <tr>
                                    <td>ACCS</td>
                                    <td>100</td>
                                    <td>10.0</td>
                                    <td>1000</td>
                                    <td>1500</td>
                                    <td>500</td>
                                </tr>
                                <tr>
                                    <td>ACCS</td>
                                    <td>100</td>
                                    <td>10.0</td>
                                    <td>1000</td>
                                    <td>1500</td>
                                    <td>500</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>